* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: #111;
}

.parent {
  flex-wrap: wrap;
  display: flex;
  padding : 20px;
  gap: 20px;


}

.card {
  width: 100x;
  background-color: #333;
  border: 2px solid white;
  border-radius: 10px;
  text-align: center;
  color: white;
  padding: 5px;
  margin: 50px;
}

.card button {
  border-radius: 10px;
  background-color: white;
  padding: 10px 20px;
  cursor: pointer;

}
.card img {

width: 140px;
height: 140px;
border-radius: 50px;
object-fit: cover;
}
.card p {
  margin : 20px 0; 
}