* {
  margin: 0;
  padding: 0;


}

html,
body {
  height: 100%;
  width: 100%;
}

.card 
{
  width:  : 100px;
  height : 100px;
  background-color: pink;
  color:  black;
  padding: 5px;
  margin: 10px;
  border-radius: 4px;
}